{% block nameform %}

{% if form %}
  {% if form.name %}
    <h4>Name Form</h4>
    <form action="{{ url_for('home') }}" method="POST">
        {{ form.name.label() }}{{ form.name() }}<br>
        {{ form.submit() }}
        {{ form.hidden_tag() }}
    </form>
  {% endif %}
{% endif %}

{% endblock %}


{% block index %}

<hr>
<h4>Index</h4>
<ul>
  <li><a href='/'>Home</a></li>
  <li><a href='/all_names'>Names</a></li>
  <li><a href='/movies'>Add a Movie</a></li>
  <li><a href='/all_movies'>Movies</a></li>
  <li><a href='/play_game'>Play Game</a></li>
  <li><a href='/scores'>Scores</a></li>
</ul>

{% endblock %}
