{% block gameform %}

<h4>Play the game!</h4>
<p>Enter a movie title you think would be in IMDb's top 250 and see if you can guess all of them...</p>

<form action="{{ url_for('play_game') }}" method='POST'>
  {{ form.game.label() }}{{ form.game() }}
  {% if form.game == 1 %}
    {{ form.player.label() }}{{ form.player() }}
  {% endif %}
  {% if form.game == 2 %}
    {{ form.game_id.label() }}{{ form.game_id() }}
  {% endif %}

  {{ form.movie.label() }}{{ form.movie() }}
  {{ form.submit() }}
  {{ form.hidden_tag() }}
</form>

{% endblock %}

{% extends 'base.html' %}
