{% block content %}

<h3>High Scores</h3>
<ol>
  {% for game in sorted_games %}
    <li>{{ game }}</li>
  {% endfor %}
</ol>

<hr>
<h3>All Games</h3>
<p>Enter the game ID below to see more info for that game:</p>
{% for game in games %}
  <li>{{ game }}</li>
{% endfor %}

<form action="{{ url_for('display_game') }}" method='GET'>
  Enter ID for the game to view more info.
  <input type='text' name='game_id'><br>
  <input type='submit' value='Submit'><br>
</form>

<br>Play again <a href='/play_game'>here</a>!!

{% endblock %}

{% extends 'base.html' %}
